.select2-container {
    width: 100% !important
}

.select2-container--default .select2-selection--single {
    font-family: "Montserrat", sans-serif;
    z-index: 0;
    height: 38px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: solid 1px #dedede;
    font-size: 12px;
    color: #333;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 5px 35px 5px 15px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
    right: 6px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    font-size: 16px;
}